body {
  margin:0;
  padding:0;
}

h1 {
    color: Blue;
    font-family:gill sans;
    font-size: 24px;
    text-align:center;
}
    
a {
    color: green;
    font-family: arial black;
    align:center;
    
}